.text-display,
.text-title-sm,
.text-title-md,
.text-title-lg,
.text-title,
h1,
h3,
h4,
.text-body,
.text-small
{
    font-family: 'PPNeueMontreal', sans-serif;
}

h2 {
    font-family: 'PPMondwest', serif;
}

/*.text-display,
.text-body
{
    font-family: 'PPNeueMontreal', sans-serif;
}*/

.text-display {
    font-size: clamp(4rem, 10vw + 1rem, 25rem);
    line-height: 1;
}

/*
 * 480px - 3840px: 20px - 56px
 */
.text-title-xs {
    font-size: clamp(0.75rem, 0.119vw + 0.714rem, 1rem);
    line-height: 1.5;
}

/*
 * 480px - 3840px: 20px - 56px
 */
.text-title-sm {
    font-size: clamp(1.25rem, 1.071vw + 0.929rem, 3.5rem);
    line-height: 1;
}

/*
 * 480px - 3840px: 36px - 240px
 */
.text-title-md {
    font-size: clamp(2.25rem, 6.071vw + 0.429rem, 15rem);
    line-height: 1;
}

/*
 * 480px - 3840px: 40px - 400px
 */
.text-title-lg {
    font-size: clamp(2.5rem, 10.714vw + -0.714rem, 25rem);
    line-height: 1;
}


/*
 * 480px - 3840px: 32px - 160px
 */
.first-headline {
    font-size: clamp(2rem, 3.81vw + 0.857rem, 10rem);
    line-height: 1.125;
}

/*
 * 480px - 3840px: 24px - 96px
 */
.second-headline {
    font-size: clamp(1.75rem, 2.976vw + 0.857rem, 8rem);
    line-height: 1.125;
}

/*
 * 480px - 3840px: 20px - 64px
 */
.third-headline {
    font-size: clamp(1.25rem, 1.31vw + 0.857rem, 4rem);
    line-height: 1.125;
}

/*
 * 480px - 3840px: 14px - 24px
 */
.fourth-headline {
    font-size: clamp(0.875rem, 0.298vw + 0.786rem, 1.5rem);
    font-weight: 500;
    line-height: 1.125;
}

/*
 * 480px - 3840px: 14px - 24px
 */
.text-body {
    font-size: clamp(0.875rem, 0.298vw + 0.786rem, 1.5rem);
    line-height: 1.5;
}

/*
 * 480px - 3840px: 14px -20px
 */
.text-small {
    font-size: clamp(0.75rem, 0.238vw + 0.679rem, 1.25rem);
    line-height: 1.5;
}


/*
 * PPNeueMontreal
 */

@font-face {
    font-display: swap;
    font-family: 'PPNeueMontreal';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/montreal/PPNeueMontreal-Thin.woff2') format('woff2'),
    url('../fonts/montreal/PPNeueMontreal-Thin.woff') format('woff'),
    url('../fonts/montreal/PPNeueMontreal-Thin.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'PPNeueMontreal';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/montreal/PPNeueMontreal-ThinItalic.woff2') format('woff2'),
    url('../fonts/montreal/PPNeueMontreal-ThinItalic.woff') format('woff'),
    url('../fonts/montreal/PPNeueMontreal-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'PPNeueMontreal';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/montreal/PPNeueMontreal-Light.woff2') format('woff2'),
    url('../fonts/montreal/PPNeueMontreal-Light.woff') format('woff'),
    url('../fonts/montreal/PPNeueMontreal-Light.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'PPNeueMontreal';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montreal/PPNeueMontreal-Book.woff2') format('woff2'),
    url('../fonts/montreal/PPNeueMontreal-Book.woff') format('woff'),
    url('../fonts/montreal/PPNeueMontreal-Book.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'PPNeueMontreal';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montreal/PPNeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/montreal/PPNeueMontreal-Regular.woff') format('woff'),
    url('../fonts/montreal/PPNeueMontreal-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'PPNeueMontreal';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montreal/PPNeueMontreal-Italic.woff2') format('woff2'),
    url('../fonts/montreal/PPNeueMontreal-Italic.woff') format('woff'),
    url('../fonts/montreal/PPNeueMontreal-Italic.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'PPNeueMontreal';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montreal/PPNeueMontreal-Medium.woff2') format('woff2'),
    url('../fonts/montreal/PPNeueMontreal-Medium.woff') format('woff'),
    url('../fonts/montreal/PPNeueMontreal-Medium.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'PPNeueMontreal';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montreal/PPNeueMontreal-Bold.woff2') format('woff2'),
    url('../fonts/montreal/PPNeueMontreal-Bold.woff') format('woff'),
    url('../fonts/montreal/PPNeueMontreal-Bold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'PPNeueMontreal';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/montreal/PPNeueMontreal-BoldItalic.woff2') format('woff2'),
    url('../fonts/montreal/PPNeueMontreal-BoldItalic.woff') format('woff'),
    url('../fonts/montreal/PPNeueMontreal-BoldItalic.ttf') format('truetype');
}


/*
 * PPMondwest
 */

@font-face {
    font-display: swap;
    font-family: 'PPMondwest';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mondwest/PPMondwest-Regular.woff2') format('woff2'),
    url('../fonts/mondwest/PPMondwest-Regular.woff') format('woff'),
    url('../fonts/mondwest/PPMondwest-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'PPMondwest';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/mondwest/PPMondwest-Bold.woff2') format('woff2'),
    url('../fonts/mondwest/PPMondwest-Bold.woff') format('woff'),
    url('../fonts/mondwest/PPMondwest-Bold.ttf') format('truetype');
}
