@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .p-x-md {
        @apply px-2 xs:px-3 md:px-4 2xl:px-8 4xl:px-10;
    }

    .p-y-md {
        @apply py-2 xs:py-3 md:py-4 2xl:py-8 3xl:py-10;
    }

    .gap-x {
        @apply gap-2 xs:gap-3 md:gap-4 2xl:gap-8 4xl:gap-10;
    }

    .gap-y {
        @apply gap-2 xs:gap-3 md:gap-4 2xl:gap-8 4xl:gap-10;
    }

}

@layer utilities {
    .pb-safe {
        background: red;
        padding-bottom: env(safe-area-inset-bottom);
        padding-top: env(safe-area-inset-top);
    }
}